<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laudantium, blanditiis, excepturi dolorum quam quo deserunt animi aliquam ipsam amet voluptas sit itaque beatae, facere quibusdam. Iusto, autem sit. Fugiat?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, facilis et soluta molestias nesciunt, provident officia quaerat adipisci ipsa, quis repellat earum ut temporibus natus quo! Non exercitationem modi repellendus!</p>
</div>